
<body>
  <script src="js/jquery.vide.min.js"></script>
  <div data-vide-bg="video/tr">
    <div class="banner">
      <div class="container">
        <video id="bgvid" playsinline autoplay muted loop>
          <source src="videos/polina.webm" type="video/webm">
          <source src="videos/tr.mp4" type="video/mp4">
        </video>
        <div class="w3ls_banner_info">
          <h3>Welcome To  Kitchen Recipes </h3>
        </div>
      </div>
    </div>
  </div>
  <!--banner-->

  <!--content-->
  <div class="content">
    <!--menu-->
    <div class="special-w3">
      <div class="container">
        <h3 class="tittle1">What would you like to do ?</h3>
        <br>

        <div class="special-grids">
          <div class="col-md-4 menu-grid">
            <div class="menu1">
              <img src="images/m2.jpg" class="img-responsive gray" alt="ingredients">
              <div class="menu-icon hvr-sweep-to-top">
                <i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
              </div>
            </div>
            <div class="menu-bottom">
              <h4>Update My Pantry</h4>
              <p>What do I have to cook?</p>
              <a href="/myPantry" class="button  hvr-sweep-to-bottom">Go to My Pantry</a>
            </div>
          </div>
          
          <div class="col-md-4 menu-grid">
            <div class="menu1">
              <img src="images/m4.jpg" class="img-responsive gray" alt="Recipes">
              <div class="menu-icon hvr-sweep-to-top">
                <i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
              </div>
            </div>
            <div class="menu-bottom">
              <h4>Find A Recipe</h4>
              <p>What am I hungry for?</p>
              <a href="/findRecipe" class="button  hvr-sweep-to-bottom">Go to Find Recipe</a>
            </div>
          </div>  

          <div class="col-md-4 menu-grid">
            <div class="menu1">
              <img src="images/m5.jpg" class="img-responsive gray" alt="Add recipes">
              <div class="menu-icon hvr-sweep-to-top">
                <i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
              </div>
            </div>
            <div class="menu-bottom">
              <h4>Add A Recipe</h4>
              <p>I have a keeper recipe!</p>
              <a href="/addRecipe" class="button  hvr-sweep-to-bottom">Go to add Recipe</a>
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>
    <!--menu-->
  </div>



