
<style>
.panel-body a
    {
        word-break:break-all;
    }

.sameLine {display: inline-block;
           }

button {margin-left: 10px;
        outline: none;
        border: none;
        background: none;
      }
.categoryUL {display: none;
            }
.equalHW eq{
  height: 32px;
}
.ingredientContainer{
  max-height: 380px;
  overflow-y: auto;
}            
.ingredientContainer::-webkit-scrollbar{
  display: none;
} 
.panel-heading{
  font-size:20px;
}            
</style>

  {{! ************* MAIN HEADING}}

  <div class="container">
    <div class="paddingBlock">
          <div class="equalHWrap eqWrap">
            <h1 class="heading"><span>Pick Your Ingredients Here And Will Find Matching Recipes For You</span></h1>  
            
                  {{! ************* DIVISION FOR INGREDIENTS SUGGESTION: }}
                  <div class="col-md-6 ingredients">
                    <div class="equalHW eq">
                      <div class="containerTitle">
                        <div class="panel panel-default">
                          <div class="panel-heading">Ingredients Suggestion:</div>
                            <div class="panel-body">
                              <div class="ingredientContainer" id="notInPantryList"> 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


              
              {{! ************* DIVISION FOR INGREDIENTS NOT IN PANTRY}}
                  <div class="col-md-6 ingredients">
                  <div class="equalHWrap eqWrap">
                    <div class="containerTitle">
                      <div class="panel panel-default">
                        <div class="panel-heading">My Kitchen</div>
                          <div class="panel-body">
                            <div class="ingredientContainer" id="inPantryList">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   </div> 
                  </div>               
        </div>
      </div>
    </div>
  </div>


{{!  ******************SCRIPT FILE HERE *****************}}
<script>
  var ingredientsHave = [];
  var ingredientsNotHave = [];
  var categories = [];
  // {{! ******** FOR EACH INGREDIENT *************** }}
    {{#each ingredient}}
    {{! ******** remove spaces and special characters from category ***}}
    {{! ****  because this term is used as a class name ***************}}
    var cleanCat = "{{this.category}}";
    cleanCat = cleanCat.replace(/[^A-Z0-9]/ig, "_");
    if (categories.indexOf(cleanCat) == -1) {
      categories.push(cleanCat);
    }
    {{! ******** create an object for each ingredient **************}}
    var ing = {name: "{{this.name}}",
              category: "{{this.category}}",
              id: "{{this.id}}",
              cleanCat: cleanCat};
    {{! ************ IF NOT IN THE PANTRY *********}}
    {{#unless this.inPantry}}
      {{! ***** push that object into an array of all ingredients }}
      ingredientsNotHave.push(ing);
    {{/unless}}
    {{! ************ IF IN THE PANTRY *********}}
    {{#if this.inPantry}}
      {{! ***** push that object into an array of all ingredients }}
      ingredientsHave.push(ing);
    {{/if}}
  {{/each}}

  {{! ********* NOW, WE CREATE A SEPERATE DIVISION FOR EACH CATEGORY ****}}
  for (var i=0; i<categories.length; i++) {
    var parsedString = categories[i].replace(/_/g," ");
    var catDiv = $('<div>');

    catDiv.append('<h4 class="categorySection">' + parsedString + '</h4>');
    catDiv.append('<ul class = "categoryUL + ' + parsedString + '"></ul>');
    $('#inPantryList').append(catDiv);
  }

  for (var i=0; i<categories.length; i++) {
    var parsedString = categories[i].replace(/_/g," ");
    var catDiv = $('<div>');
    catDiv.append('<h4 class="categorySection">' + parsedString + '</h4>');
    catDiv.append('<ul class = "categoryUL ' + parsedString + '"></ul>');
    $('#notInPantryList').append(catDiv);

  }

  {{! ******** CREATE OPTIONS FOR SELECT LIST IN ADD INGREDIENT SECTION  }}
  {{! ********* NOW, WE CAN GIVE OPTION FOR EACH CATEGORY ****}}

  for (var i=0; i<categories.length; i++) {
    var opt = '<option value="' + categories[i] + '">' + categories[i] + '</option>';

    $('#categoryOptions').append(opt);
  }



   {{! *** THEN, WE CREATE THE HTML FOR EACH INPANTRY INGREDIENT ****}}
   {{! ********* AND APPEND IT TO THE INPANTRY DIVISION *******}}
  for (var i=0; i<ingredientsHave.length; i++) {
    var ingredientLI = $('<li>');

    ingredientLI.append('<span class="ingredientName sameLine">' + ingredientsHave[i].name + '</span>');
    ingredientLI.append('<form class="sameLine" action="ingredient/update/' + ingredientsHave[i].id + '?_method=PUT" method="POST"><input type="hidden" name="inPantry" value="false"><button type="submit">x</button></form>');

    $('#inPantryList').find('.' + ingredientsHave[i].cleanCat).append(ingredientLI);
  }
{{! ****** THEN, WE CREATE THE HTML FOR EACH NOTINPANTRY INGREDIENT ****}}
   {{! ******* AND APPEND IT TO THE NOTINPANTRY CATEGORY DIVISION *******}}
  for (var i=0; i<ingredientsNotHave.length; i++) {
    var ingredientLI = $('<li>');

    ingredientLI.append('<span class="ingredientName sameLine">' + ingredientsNotHave[i].name + '</span>');
    ingredientLI.append('<form class="sameLine" action="ingredient/update/' + ingredientsNotHave[i].id + '?_method=PUT" method="POST"><input type="hidden" name="inPantry" value="true"><button type="submit">x</button></form>');

    $('#notInPantryList').find('.' + ingredientsNotHave[i].cleanCat).append(ingredientLI);
  }
$(document).ready(function() {
  $('.categorySection').on('click', function(event){
    console.log("this was clicked");
    event.stopPropagation();
    $(this).closest('div').find('.categoryUL').slideToggle();
    })
});
</script>

